/* responsive.css */
/* Beispiel: Für Bildschirme mit einer Breite von 768px oder weniger */
@media screen and (max-width: 768px) {
    header {
        padding: 5px;
    }

    .logo img {
        height: 40px;
    }

    nav ul li {
        margin-right: 10px;
    }
}
